<!DOCTYPE html>
<html>

<head>
    <title>Tjung</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" />
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div class="navigation-wrap">
        <div class="navigation text-center">
            <div class="profile-img my-4"></div>
            <nav>
                <ul class="unstyled-list">
                    <li><a href="/" class="py-2 d-block">Hem</a></li>
                    <li><a href="/register" class="py-2 d-block">Register</a></li>
                    <li><a href="/logout" class="py-2 d-block">Log out</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="wrapper">
    {{{body}}}
    </div>
    <script type="text/javascript" src="/script/vendor/handlebars-v4.0.10.js"></script>
    <script type="text/javascript" src="/script/templates/templates.js"></script>
    <script type="text/javascript" src="/script/modules/script.js"></script>
</body>

</html>