<!DOCTYPE html>
<html>

<head>
    <title>Tjung</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/style.css">
    <script type="text/javascript">window.modules = {};</script>
</head>

<body>
    <div class="navigation-wrap">
        <div class="navigation">
            <div class="profile-img my-4"></div>
            <nav>
                <ul class="unstyled-list">
                    <li><a href="/">Home</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/accounts">Accounts</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="wrapper">
    {{{body}}}
    </div>
    <script type="text/javascript">
        var pageEl = document.querySelectorAll("[class^=page--]")[0];
        window.page = pageEl.className.split('--').pop();
    </script>
    <script type="text/javascript" src="/dist/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/dist/script.js"></script>
</body>

</html>