<div class="page--alarm">
	<h1>Alarm</h1>
	<div class="alarm d-inline-block {{#if alarm.state}}on{{/if}}">
		<label class="hidden">
			<input type="checkbox" name="alarm" data-id="{{alarm._id}}">
		</label>
	</div>
</div>