<form action="/authenticate" method="post" class="form">
    <div> <input type="email" name="email" placeholder="Email"> </div>
    <div> <input type="password" name="password" placeholder="Password"> </div>
    <div> <label for="remember-me" class="d-flex"> <input type="checkbox" id="remember-me" name="remember_me" /> Remember me </label> </div>
    <div> <button type="submit">Login</button> </div>
    <hr> <a href="/register">Register</a>
</form>