body {
	text-align: left;
	color: $black;
	-webkit-font-smoothing: antialiased;
}

.wrapper {
	height: 100vh;
}

.navigation-wrap + .wrapper {
	padding: 0 15px;
}

.hidden {
	opacity: 0;
}

.pointer {
	cursor: pointer;
}

.no-radius {
	border-radius: none;
}

img {
	max-width: 100%;
}

[class*='page--'] {
	height: 100%;
}