[class^='icon-']:before,
[class*=' icon-']:before,
[class^='icon-']:after,
[class*=' icon-']:after {
    font-family: icon;
    font-size: 20px;
    font-style: normal;
}

.icon-advertising:before {
    content: '\f100';
}

.icon-app:before {
    content: '\f101';
}

.icon-edit:before {
    content: '\f102';
}

.icon-event:before {
    content: '\f103';
}

.icon-exit:before {
    content: '\f104';
}

.icon-feed:before {
    content: '\f105';
}

.icon-flag:before {
    content: '\f106';
}

.icon-friend:before {
    content: '\f107';
}

.icon-friends:before {
    content: '\f108';
}

.icon-puzzle:before {
    content: '\f109';
}

.icon-group:before {
    content: '\f10a';
}

.icon-lifebuoy:before {
    content: '\f10b';
}

.icon-question:before {
    content: '\f10c';
}

.icon-conversation:before {
    content: '\f10d';
}

.icon-key:before {
    content: '\f10e';
}

.icon-language:before {
    content: '\f10f';
}

.icon-location-pin:before {
    content: '\f110';
}

.icon-padlock:before {
    content: '\f111';
}

.icon-market:before {
    content: '\f112';
}

.icon-message:before {
    content: '\f113';
}

.icon-clock:before {
    content: '\f114';
}

.icon-feed-1:before {
    content: '\f115';
}

.icon-notification:before {
    content: '\f116';
}

.icon-person:before {
    content: '\f117';
}

.icon-photo:before {
    content: '\f118';
}

.icon-stars:before {
    content: '\f119';
}

.icon-report:before {
    content: '\f11a';
}

.icon-manual:before {
    content: '\f11b';
}

.icon-search:before {
    content: '\f11c';
}

.icon-setting:before {
    content: '\f11d';
}

.icon-ball:before {
    content: '\f11e';
}

.icon-recommendation:before {
    content: '\f11f';
}

.icon-user:before {
    content: '\f120';
}

.icon-video-player:before {
    content: '\f121';
}

.icon-weather:before {
    content: '\f122';
}

.icon-suitcase:before {
    content: '\f123';
}